<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      span.detections
      {
        display:inline-block;
        margin:10px;
        width: 275px;
        border: 1px solid black;
        height: 200px;
        padding: 10px;
      }
      a.day-box
      {
        font-size: 24px;
        margin: 10px;
      }
      img.day-box-img
      {
        display: block;
        margin: 0 auto;
        padding-top:20px;
      }
    span.day-name
    {
        text-align: center;
        font-size: 24px;
        margin: 10px;

    }
    </style>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>

        async function main() {
            await getImage();
            await PlotTemps();
            await getCassiniDetections();
        }
        async function getImage() {
            const response = await fetch('/cassini/hole-cam', {method: 'POST'});

            if (!response.ok) {
                console.error('Failed to fetch image');
                return;
            }
            const data = await response.json();

            var img_paths = Object.keys(data['path']);
            var img = document.querySelector('img');
            img.src = data['path'][img_paths[img_paths.length - 1]];
            console.log(img.src);

            window.setTimeout(getImage, 5000);
            
        }

        async function PlotTemps()
        {
            const data = await CollectTemps();
            let ambient_trace = null;
            let underground_trace = null;
            if('ambient' in data)
            {
                const timestamps = Object.values(data['ambient']['timestamp']);
                const temperatures = Object.values(data['ambient']['temp']);
                console.log(timestamps.map(ts => (ts*1000)));
                ambient_trace = {
                    x: timestamps.map(ts => new Date(parseInt(ts*1000))),
                    y: temperatures,
                    type: 'scatter',
                    mode: 'lines+markers',
                    name: 'Ambient Temperature'
                };

            }
            else
            {
                console.error('No ambient data found');
            }

            if('underground' in data)
            {
                const timestamps2 = Object.values(data['underground']['timestamp']);
                const temperatures2 = Object.values(data['underground']['temp']);

                underground_trace = {
                    x: timestamps2.map(ts => new Date(parseInt(ts*1000))),
                    y: temperatures2,
                    type: 'scatter',
                    mode: 'lines+markers',
                    name: 'Underground Temperature'
                };
            }
            else
            {
                console.error('No underground data found');
            }

            const layout = {
                title: 'Temperature Time Series',
                xaxis: {
                    title: 'Timestamp'
                },
                yaxis: {
                    title: 'Temperature (°F)'
                }
            };
		
	    if(ambient_trace || underground_trace)
	    {
            	Plotly.newPlot('plotly-plot', [ambient_trace, underground_trace], layout);
	    }
        }

        async function CollectTemps() {
            let response = await fetch('temperatures.html', 
                {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        'timestamp': Date.now()
                    })
                }
            );
            let data = await response.json();
            console.log(data);
            return data;
        }


        function getMaxProb(data)
        {
            let maxProb = 0;
            let maxDate = null;
            for (const group in data)
            {
                for (const ii in data[group]['prob'])
                {
                    if (data[group]['prob'][ii] > maxProb)
                    {
                        maxProb = data[group]['prob'][ii];
                        maxIndex = ii;
                        maxDate = new Date(parseInt(ii));
                        groupMax = group;
                    }
                }
            }
            console.log(groupMax, maxProb);
            return data[groupMax]['url'][maxIndex];

        }

        const getCassiniDetections = async () => {
                let now = new Date()
                const url = `/cassini/detections.html`;
                
                for (var i=0; i<7; i++)
                {
                    const displayElement = document.getElementById(`prevDay${i}`);
                    date = new Date(now - (i*24*60*60*1000));
                    let dayString;
                    if(i == 0)
                    {
                        dayString = 'Today';
                    }
                    else
                    {
                        dayString = date.toLocaleDateString('en-US', {weekday: 'long'});
                    }
                    const response = await fetch(url, {
                        method: 'POST', 
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({'date': date.toDateString()}) 
                    })
                    const dayElement = document.createElement('span');
                    dayElement.innerHTML = dayString;
                    dayElement.classList.add('day-name')
                    displayElement.appendChild(dayElement);
                    const atag = document.createElement('a');
                    displayElement.appendChild(atag);
                    atag.classList.add('day-box')

                    const imgElement = document.createElement('img');
                    imgElement.setAttribute('height', '150');
                    imgElement.setAttribute('width', '225');
                    imgElement.setAttribute('alt', 'Image');
                    imgElement.classList.add('day-box-img')
                    displayElement.appendChild(imgElement);

                    if (!response.ok) 
                    {
                        
                        atag.innerHTML = `No Cassini Activity`;
                        
                    }
                    else
                    {
                        const responseData = await response.json();
                        console.log(responseData);
                        if (Object.keys(responseData).length == 0)
                        {
                            atag.innerHTML = `No Cassini Activity`;
                        }
                        else
                        {
                            let headline_image = getMaxProb(responseData);
                            console.log(headline_image);
                            atag.innerHTML = `${Object.keys(responseData).length} Sightings`;
                            atag.setAttribute('href', `/cassini/detections.html?date=${date.toDateString()}`);
                            imgElement.src = headline_image;
                        }
                        atag.classList.add('sighting')

                    }
                }
                

            }


        document.addEventListener('DOMContentLoaded', main);
    </script>
	<title>Cassini</title>
</head>
<body>
	<div style="display: flex; margin: 10px;">
		<div style="margin-right: 10px;">
			<img alt="Image" height="400" width="600">
		</div>
		<div style="flex-grow: 1;">
			<div id="plotly-plot" style="width: 100%; height: 400px;"></div>
		</div>
	</div>

    <div id="detections">
        <h2>Cassini's Week</h2>
        <span id="prevDay0" class="detections today"></span>
        <span id="prevDay1" class="detections"></span>
        <span id="prevDay2" class="detections"></span>
        <span id="prevDay3" class="detections"></span>
        <span id="prevDay4" class="detections"></span>
        <span id="prevDay5" class="detections"></span>
        <span id="prevDay6" class="detections"></span>
    </div>

</body>


</html>
